/* navigation Bar */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Sofia Sans", sans-serif;
}
/* header section */
header{
    background: #fceade;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

.spanol{
    color: #fd6e0a;
}

nav h2{
    font-size: 45px;
    font-weight: 800;
}

nav{
  display: flex;
  justify-content: space-between;
  margin: 0px 150px;
  padding: 50px 0px;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

nav ul {
  display: flex;
  align-items: center;
}

.btn-hire{
    padding: 8px 15px;
    background-color: #fd6e0a;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}

/* Banner */

.banner{
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-heading{
    font-size: 45px;
    margin-bottom: 10px;
}

.banner-title{
    font-size: 80px;
    margin-bottom: 20px;
}

.banner-description{
    font-size: 22px;
    color: gray;
    margin-bottom: 30px;
    max-width: 750px;
}

/* Main Portion */

/* about section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-section{
    margin-top: 75px;
    text-align: center;
    background-color: #fceade;
    border-radius: 10px;
    padding: 90px 60px;
}

.section-title{
    font-size: 25px;
    margin-bottom: 20px;
}

.section-description{
    color: gray;
    font-size: 20px;
}

.info-section-container{
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    margin-top: 25px;
}

.info-title{
    font-size: 18px;
    color: gray;
}

.info-description{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
}

/* what I do */

.skills-section{
    margin-top: 90px;
}

.skills-heading{
    text-align: center;
    font-size: 25px;
}

.skills-details{
    margin: 25px 0px;
    text-align: center;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skills{
    background-color: #ffffff;
    box-shadow: 0 4px 20px lightgray;
    border-radius: 10px;
    padding: 20px;
}

.skills-title{
    padding-top: 10px;
    padding-bottom: 15px;
}

.skills-description{
    color: gray;
}

/* resume container */


.resume-heading{
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 50px;
}
.resume-container{
    display: flex;
    gap: 20px;
}

.resume-container h3{
    margin: 0px 0;
    
}

.resume-container h4{
    margin: 5px 0;
    
}

.resume-container h6{
    margin: 5px 0;
    color: #D9D9D9;
}

.resume-description{
    color: #a8a8a8;
    margin-bottom: 40px;
}
.resume-description1{
    margin-bottom: 50px;
}

.resume-btn{
    text-align: center;
}

.btn-hire1{
    
    padding: 8px 15px;
    background-color: #fd6e0a;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}
footer{
    margin-top: 50px;
    padding: 80px 150px;
    background-color: #fceade;
}
.footer{
    display: flex;
    justify-content: center;
    gap: 24px;
    
}



.input{
    margin: 5px 0;
    padding: 8px 60px;
    border: 0;
}
textarea{
    display: block;
    padding: 10px 0px 10px 51px;
    margin-top: 5px;
    border:0;
}
.footer-title{
    margin-bottom: 10px;
}
.footer-description{
    max-width: 500px;
    margin-bottom: 10px;
}
.footer a{
    text-decoration: none;
}
.btn-hire2{
    margin-top: 10px;
    display: block;
    padding: 8px 15px;
    background-color: #fd6e0a;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}